In [1]:
import xgboost

In [2]:
!pip install xgboost

Requirement already satisfied: xgboost in c:\users\premchandar\anaconda3\lib\site-packages (2.1.3)
Requirement already satisfied: numpy in c:\users\premchandar\anaconda3\lib\site-packages (from xgboost) (1.24.3)
Requirement already satisfied: scipy in c:\users\premchandar\anaconda3\lib\site-packages (from xgboost) (1.11.1)

In [3]:
import pandas as pd # Pandas is a library written for the Python programming language for data manipulation and analysis.
import numpy as  np  # numpy is library written for the python programming language for mathematical functions .

In [4]:
dataset=pd.read_csv("insurance_pre.csv") #import csv file

In [5]:
dataset

      age     sex     bmi  children smoker      charges
0      19  female  27.900         0    yes  16884.92400
1      18    male  33.770         1     no   1725.55230
2      28    male  33.000         3     no   4449.46200
3      33    male  22.705         0     no  21984.47061
4      32    male  28.880         0     no   3866.85520
...   ...     ...     ...       ...    ...          ...
1333   50    male  30.970         3     no  10600.54830
1334   18  female  31.920         0     no   2205.98080
1335   18  female  36.850         0     no   1629.83350
1336   21  female  25.800         0     no   2007.94500
1337   61  female  29.070         0    yes  29141.36030

[1338 rows x 6 columns]

In [6]:
dataset=pd.get_dummies(dataset,drop_first=True)

In [7]:
dataset

      age     bmi  children      charges  sex_male  smoker_yes
0      19  27.900         0  16884.92400     False        True
1      18  33.770         1   1725.55230      True       False
2      28  33.000         3   4449.46200      True       False
3      33  22.705         0  21984.47061      True       False
4      32  28.880         0   3866.85520      True       False
...   ...     ...       ...          ...       ...         ...
1333   50  30.970         3  10600.54830      True       False
1334   18  31.920         0   2205.98080     False       False
1335   18  36.850         0   1629.83350     False       False
1336   21  25.800         0   2007.94500     False       False
1337   61  29.070         0  29141.36030     False        True

[1338 rows x 6 columns]

In [8]:
dataset=dataset.astype(int)

In [9]:
dataset

      age  bmi  children  charges  sex_male  smoker_yes
0      19   27         0    16884         0           1
1      18   33         1     1725         1           0
2      28   33         3     4449         1           0
3      33   22         0    21984         1           0
4      32   28         0     3866         1           0
...   ...  ...       ...      ...       ...         ...
1333   50   30         3    10600         1           0
1334   18   31         0     2205         0           0
1335   18   36         0     1629         0           0
1336   21   25         0     2007         0           0
1337   61   29         0    29141         0           1

[1338 rows x 6 columns]

In [10]:
dependent=dataset[['charges']]
dependent

      charges
0       16884
1        1725
2        4449
3       21984
4        3866
...       ...
1333    10600
1334     2205
1335     1629
1336     2007
1337    29141

[1338 rows x 1 columns]

In [11]:
dataset.columns

Index(['age', 'bmi', 'children', 'charges', 'sex_male', 'smoker_yes'], dtype='object')

In [12]:
independent=dataset[['age', 'bmi', 'children','sex_male', 'smoker_yes']]
independent

      age  bmi  children  sex_male  smoker_yes
0      19   27         0         0           1
1      18   33         1         1           0
2      28   33         3         1           0
3      33   22         0         1           0
4      32   28         0         1           0
...   ...  ...       ...       ...         ...
1333   50   30         3         1           0
1334   18   31         0         0           0
1335   18   36         0         0           0
1336   21   25         0         0           0
1337   61   29         0         0           1

[1338 rows x 5 columns]

In [13]:
from sklearn.model_selection import train_test_split
X_train,X_test,Y_train,Y_test=train_test_split(independent, dependent, test_size=0.30, random_state=0)

In [14]:
X_train.values

array([[18, 28,  0,  0,  0],
       [39, 32,  0,  0,  0],
       [52, 46,  5,  0,  0],
       ...,
       [40, 25,  0,  1,  0],
       [19, 35,  0,  1,  0],
       [33, 18,  1,  0,  0]])

In [15]:
import xgboost as xg
from xgboost import XGBRegressor
from sklearn.svm import SVR
rgr= SVR(C=1.0, epsilon=0.2)

In [16]:
rgr.fit(X_train,Y_train)

C:\Users\premchandar\anaconda3\Lib\site-packages\sklearn\utils\validation.py:1184: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

SVR(epsilon=0.2)

In [17]:
y_pred=rgr.predict(X_test)

In [18]:
y_pred

array([9593.1275351 , 9563.70097059, 9571.97346327, 9633.03100373,
       9579.57149761, 9484.76273441, 9426.63725687, 9588.63024209,
       9508.78460699, 9470.71499105, 9485.40515213, 9580.02905407,
       9539.00292171, 9479.23805899, 9451.93905347, 9581.0014463 ,
       9626.53968705, 9449.23908448, 9508.3497491 , 9430.88184121,
       9584.57421832, 9614.14816091, 9593.06562054, 9562.97276441,
       9436.99240894, 9479.30329365, 9459.44041857, 9522.10174637,
       9469.19852836, 9551.84107709, 9520.17360197, 9624.19552654,
       9636.74486033, 9609.08605942, 9443.5793229 , 9464.54192387,
       9560.14223511, 9460.30397542, 9521.82661242, 9432.15508793,
       9495.68659177, 9460.0020989 , 9513.58772931, 9622.81588029,
       9431.23774232, 9433.87476065, 9580.51347443, 9531.70404729,
       9465.33100612, 9613.55418959, 9440.51712119, 9428.51049905,
       9569.48283654, 9588.75151241, 9620.22798707, 9459.24821716,
       9451.33864358, 9579.98569575, 9537.61671198, 9626.60801489,
       9428.24775683, 9637.26387878, 9630.76680631, 9582.5184552 ,
       9571.3993241 , 9588.43748188, 9428.88363087, 9472.59922327,
       9434.76059132, 9520.98512274, 9633.09155882, 9616.67088081,
       9430.43761398, 9640.14179078, 9626.53894205, 9628.89921568,
       9554.32580249, 9545.64016356, 9501.55470113, 9634.09219164,
       9612.59072837, 9544.40896973, 9436.37134983, 9551.81977309,
       9541.05497037, 9484.83978442, 9459.1676842 , 9448.75368354,
       9625.11639998, 9468.32200769, 9479.49888639, 9608.266681  ,
       9454.41653321, 9550.63776497, 9487.61188195, 9475.4809104 ,
       9608.78634675, 9545.82932888, 9471.02592956, 9612.53490102,
       9439.19302843, 9498.23307325, 9457.880369  , 9498.96654279,
       9532.69354309, 9452.93897374, 9608.0703054 , 9458.4789578 ,
       9622.96412793, 9630.9069566 , 9597.57943036, 9477.45382525,
       9569.30747031, 9427.54168447, 9615.6775892 , 9531.73700867,
       9431.85806594, 9579.98569575, 9626.40833231, 9555.86125982,
       9541.46217883, 9584.71247869, 9641.08441266, 9469.95905631,
       9544.43955791, 9461.51733993, 9562.54326966, 9548.60097652,
       9629.11749145, 9436.98251027, 9545.25037676, 9428.41344822,
       9508.64962215, 9582.9366832 , 9533.33719943, 9485.8971689 ,
       9531.19658701, 9578.16749744, 9593.70262155, 9437.73914594,
       9431.02069406, 9607.24841051, 9577.51072475, 9604.20552945,
       9484.55074171, 9643.20149708, 9626.73730649, 9438.70304609,
       9430.71574515, 9601.03026965, 9507.66626694, 9463.01664642,
       9588.19282933, 9426.89770755, 9436.25473766, 9520.41799415,
       9435.8364185 , 9426.63973048, 9581.0014463 , 9565.05643179,
       9453.38246921, 9635.57197721, 9627.42200487, 9588.44269218,
       9474.9949579 , 9443.48653371, 9430.92511761, 9470.29491187,
       9469.22283391, 9434.5941674 , 9453.78908216, 9455.70709392,
       9539.41083702, 9444.42746896, 9452.4785658 , 9446.82141222,
       9456.49580265, 9512.44278126, 9626.12257708, 9426.65319683,
       9593.44424092, 9502.87685546, 9618.66867474, 9453.71810104,
       9484.67722794, 9635.21419448, 9435.86203779, 9432.4879835 ,
       9643.53788533, 9576.96459309, 9582.33367189, 9448.09990215,
       9495.60248313, 9567.40971728, 9447.75492405, 9441.01083408,
       9502.42338885, 9483.80859474, 9465.32499004, 9469.49598505,
       9604.26507462, 9643.62468208, 9609.23837762, 9469.66344571,
       9461.17366525, 9565.89887648, 9444.59953852, 9593.99243879,
       9493.75592089, 9440.74700558, 9570.79181838, 9637.56127375,
       9455.87181892, 9439.79354246, 9526.2306794 , 9441.63222672,
       9496.15049682, 9479.42623281, 9624.94678109, 9501.44556067,
       9490.55033333, 9512.83528605, 9569.26245668, 9444.85672244,
       9622.96576429, 9642.37644684, 9613.77656862, 9619.52080736,
       9506.81689772, 9444.30174448, 9426.92952376, 9560.26002366,
       9626.89217504, 9427.95361782, 9474.24885763, 9527.77805673,
       9568.8480688 , 9442.0144923 , 9507.97155695, 9594.38077329,
       9507.65292262, 9434.28518162, 9529.83861147, 9537.46201127,
       9539.44839801, 9598.83202125, 9432.80034516, 9540.85426216,
       9435.92385005, 9524.66408757, 9464.92719387, 9640.88038662,
       9450.60599574, 9455.79270091, 9426.6554127 , 9428.37806692,
       9552.86422401, 9431.01339404, 9444.75260466, 9452.07684449,
       9547.49230294, 9580.72130635, 9637.80062093, 9637.33203946,
       9526.2306794 , 9616.82853446, 9472.06651797, 9555.37875963,
       9505.02583733, 9429.19025585, 9442.57581982, 9477.85603668,
       9622.9421365 , 9444.22723873, 9499.54140166, 9487.03539249,
       9598.77166855, 9549.31765092, 9431.51774564, 9629.56035633,
       9620.94358481, 9488.23052582, 9629.97598613, 9426.91289747,
       9512.00755206, 9439.47356148, 9516.71755264, 9537.68235881,
       9465.18528889, 9426.89852974, 9431.60813559, 9634.09159464,
       9573.70232984, 9470.95116461, 9609.38396951, 9609.25679759,
       9438.90511542, 9519.7404259 , 9491.21592068, 9583.08119028,
       9428.65126628, 9431.10646516, 9452.53041645, 9452.05281771,
       9636.92012056, 9444.17544935, 9445.60446747, 9550.65175586,
       9593.86019912, 9429.32108119, 9475.16000773, 9485.3611256 ,
       9432.10195244, 9428.63463358, 9525.72718215, 9487.61188195,
       9561.31742031, 9429.17552386, 9537.84601101, 9548.3446168 ,
       9437.77673065, 9453.09518205, 9429.98547095, 9571.01003103,
       9463.54232929, 9616.74444937, 9643.70441996, 9465.30704289,
       9576.41079645, 9542.4297276 , 9618.71179255, 9461.66487041,
       9587.5819622 , 9443.59137941, 9633.67532255, 9474.74069275,
       9628.00863672, 9428.89450942, 9431.07034118, 9448.76045174,
       9601.05815714, 9520.01481283, 9441.63222672, 9449.97912001,
       9465.50108789, 9495.75718348, 9633.55946887, 9428.65126628,
       9538.31087008, 9428.29860418, 9576.15391603, 9450.55292023,
       9493.88083296, 9465.92184539, 9599.44983981, 9566.05075719,
       9485.88662703, 9440.75290633, 9507.97155695, 9526.82267799,
       9428.23177513, 9451.81790818, 9428.70295554, 9571.63740721,
       9604.63501465, 9613.49378641, 9428.9111909 , 9622.73161621,
       9436.01184589, 9552.81677771, 9460.13403104, 9448.33494779,
       9448.02776969, 9432.9724382 , 9506.96033612, 9429.95234887,
       9506.4420007 , 9609.25998877, 9583.09152296, 9617.75316838,
       9476.50990318, 9442.228966  , 9430.21395822, 9582.22411322,
       9490.32849178, 9427.29494986, 9593.12291683, 9508.09501496,
       9531.67880844, 9448.09990215, 9437.80922717, 9470.02928727,
       9433.31248928, 9579.40250196, 9433.29605707, 9537.28963035,
       9613.0186632 , 9460.98667549, 9433.59545322, 9608.81567618,
       9641.16326724, 9634.31065919])

In [19]:
from sklearn.metrics import r2_score
r_score=r2_score(Y_test,y_pred)

In [20]:
r_score

-0.08844250999130221

In [21]:
import pickle
filename="finalized_model_XGboost.sav"

In [22]:
pickle.dump(rgr, open(filename,"wb"))

In [23]:
loaded_model=pickle.load(open("finalized_model_XGboost.sav","rb"))
result=loaded_model.predict([[55413,14567,365448,0,1]]) 
result

C:\Users\premchandar\anaconda3\Lib\site-packages\sklearn\base.py:464: UserWarning: X does not have valid feature names, but SVR was fitted with feature names
  warnings.warn(

array([9538.15998982])